
// COLORS
// https://flatuicolors.com/palette/de

$color-primary: #2d98da;
$color-primary-light: #45aaf2;

$color-secondary: #20bf6b;
$color-secondary-light: #26de81;

$color-tertiary: #4b6584;
$color-tertiary-light: #778ca3;

$color-primary-grey: #a5b1c2;
$color-primary-grey-light: #d1d8e0;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.5rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// HEADER
$header-height: 5rem;
